h2 {
    text-align: center;
}

.k-grid-toolbar {
  text-align: center;
}

.k-grid-toolbar .k-button {
  margin: 0 auto;
  display: inline-block;
}

.k-edit-form-container {
    overflow-y: hidden !important;
}